import socks

# Authentication keys. Get it here: https://core.telegram.org/api/obtaining_api_id
api_id = 'your_api_id'
api_hash = 'your_api_hash'


#proxy support
use_proxy = False
proxy_data = (socks.SOCKS5, 'proxy_host', proxy_port, True, 'proxy_login', 'proxy_password')


#folder to store channels messages
channels_folder = "channels"

#folder to store media
media_folder = "media/"

#start of url to show mediafiles
url_start = "http://fido.ortoped.org.ru/"